@import 'partials';
/*===BODY===*/
body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

/*===CONTAINER===*/
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
section {
	.container {
		margin: 50px auto;
		text-align: center;
	}
}

/*===HEADINGS===*/
 h1, h3, h4 {
 	text-transform: uppercase;
 }

 /*===CLEARFIX===*/
.row:before,
.row:after {
	@extend .clearfix;
}

/*===GRID FLOAT===*/
[class*='col-'] {
	float: left;
	box-sizing: border-box;
}
/*===HEADER===*/
header {
	background: $basic-color;
	nav {
		&:before,
		&:after {
			@extend .clearfix;
		}
		img {
			padding-top: 10px;
		}
		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
			float: right;
			li {
				display: inline-block;
				height: 50px;
				line-height: 50px;
				padding: 0 20px;
				a {
					color: $basic-color2;
					text-decoration: none;
					text-transform: uppercase;
					font-weight: bold;
				}
				&:hover a {
					color: $hover-color;
				}
			}
		}
	}
}

/*FOR MOBILE*/
nav input, nav label {
	display: none;
	float: right;
	margin-right: 10vw;
	margin-top: 5px;
	color: $basic-color2;
}

nav input[type="checkbox"] + label {
	cursor: pointer;
	font-size: 25px;
}
/*===HERO===*/
.carousel {
	position: relative;
	img {
		@extend .fit-img; 
		max-height: 350px;
	}
	.slogan {
		width: 40%;
		max-width: 800px;
		position: absolute;
		top: 40%;
		right: 0;
		background-color: rgba(0, 0, 0, 0.6);
		color: $basic-color2;
		padding: 0 30px;
		h1 {
			&::first-line {
				font-family: 'Open Sans Condensed', sans-serif;
				font-weight: 300;
			}
		}
	}
	
}

/*===SECTION BENEFITS===*/
.benefits {
	[class*='col-'] {
		min-height: 1px;
		padding: 0 70px;
		&:hover h4 {
			color: $hover-color;
		}
		&:hover i{
			background: $hover-color;
		}
	}
	i {
		background: $basic-color;
		color: $basic-color2;
		height: 80px;
		line-height: 80px;
		width: 80px;
		border-radius: 10px;
		font-size: 40px;
	}
	h4 {
		color: $basic-color;
	}
	p {
		color: $p-color;
	}
}
/*===SECTION FEATURED===*/
.featured {
	p {
		color: $p-color;
		max-width: 900px;
		margin: 0 auto;
	}
}
/*===SECTION GALLERY===*/
	.gallery-item {
		position: relative;
		img {
			@extend .fit-img;
		    height: 16vw;
		}
		&::before {
			content:'';
			position: absolute;
			background: rgba(0, 0, 0, 0.5);
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			opacity: 0;
			transition: .5s;
		}
		&:hover::before {
			opacity: 1;
		}
		&:hover .layer {
			opacity: 1;
		}
		.layer {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: $basic-color2;
		opacity: 0;
		transition: .5s;	
		}
	}

.gallery {
	.row {
	  	input:checked {
	  		+ .gallery-item  { 
	    		z-index: 1;
	    		transform: scale(2.0);
	    		&:hover::before {
			    	opacity: 0;
			    	transition: 0s; 
	    		}
	    		
	  		}
	  	}
	  	input:nth-of-type(1):checked +.gallery-item {
    		left: 8vw;
  		}

   		input:nth-of-type(5):checked + .gallery-item {
    		right: 8vw;
  		}

	}
    
  	.row:nth-of-type(1) input:checked + .gallery-item  {
    	top: 8vw;
  	}
   .row:nth-of-type(2) input:checked + .gallery-item  {
    	bottom: 8vw;
  	} 
}

/*===SECTION STAFF ===*/
.staff {
	.gallery-item {
		width: 16vw;
		height: 16vw;
		margin: 0 auto;
		img {
			width: 100%;
		    height: 100%;
		    @include border-radius(50%);
		}
		&::before {
			@include border-radius(50%);
		}
	}
	h4 {
		text-transform: none;
		text-align: center;
	}
	.layer {
		margin: 0 auto;
		width: auto;
		font-weight: bold;
	}
}
/*===SECTION PROMO===*/
.promo {
	background: #ccc url(//placehold.it/1000x1000) center/cover no-repeat;
	[class*='col-'] {
		min-height: 1px;
	}
	.promo-text {
		padding: 50px 70px;
	}
	h1 {
		text-align: center;
		color: $basic-color2;
		@include column-span(all);
	}
	p {
		text-align: left;
		color: $basic-color2;
		@include column-count(2);
	}
	.row {
		position: relative;
	}
	.promo-picture {
		img {
			position: absolute;
			bottom: 0;
			left:0;
			border: 1px solid $basic-color2;
			@include border-radius(10% 10% 0 0);
			border-bottom: none;
		}
	}
}
/*===NUMBERS===*/
.numbers {
	[class*='col-'] {
		min-height: 1px;
		p {
			&:nth-of-type(1) {
				font-size: 45px;
				font-weight: 800;
				color: $basic-color;
				margin-bottom: 0;
			}
			&:nth-of-type(2) {
				color: $hover-color;
				text-transform: uppercase;
				font-weight: bold;
				margin-top: 0;
			}
		}
	}

}
/*===FOOTER===*/
.footer {
	color: $basic-color2;
	background: $basic-color;
	.copyrights {
		background: $footer-color;
		padding: 10px 0;
		text-align: center;
	}
	[class*='col-'] {
		min-height: 1px;
		text-align: left;
	}
	[class*='col-4'] {
		padding: 50px 40px 0px 40px;
	}
	.row {
		.row {
			padding-bottom: 20px;
		}
	}
	i {
		background: $hover-color;
		width: 40px;
		height: 40px;
		font-size: 20px;
		line-height: 40px;
		text-align: center;
		margin-bottom: 4px;
	}
	h3 {
		&:after {
			background: $basic-color2;
			content: "";
			display: inline-block;
			height: 1px;
			width: 30%;
			vertical-align: middle;
		}
	}
}

/*===GRID===*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.col-offset-0 {margin-left: 0;}
.col-offset-1 {margin-left: 8.33%;}
.col-offset-2 {margin-left: 16.66%;}
.col-offset-3 {margin-left: 25%;}
.col-offset-4 {margin-left: 33.33%;}
.col-offset-5 {margin-left: 41.66%;}
.col-offset-6 {margin-left: 50%;}
.col-offset-7 {margin-left: 58.33%;}
.col-offset-8 {margin-left: 66.66%;}
.col-offset-9 {margin-left: 75%;}
.col-offset-10 {margin-left: 83.33%;}
.col-offset-11 {margin-left: 91.66%;}

/*===MEDIA===*/
@media (max-width: 1199px) {
	.col-m-0 {width: 0;}
 	.col-m-1 {width: 8.33%;}
	.col-m-2 {width: 16.66%;}
	.col-m-3 {width: 25%;}
	.col-m-4 {width: 33.33%;}
	.col-m-5 {width: 41.66%;}
	.col-m-6 {width: 50%;}
	.col-m-7 {width: 58.33%;}
	.col-m-8 {width: 66.66%;}
	.col-m-9 {width: 75%;}
	.col-m-10 {width: 83.33%;}
	.col-m-11 {width: 91.66%;}


	
	.staff {
		.layer {
			position: static;
			transform: translate(0%, 0%);
			color: #ccc;
			opacity: 1;
		}
		.gallery-item {
			margin-bottom: 20px;
		}
	
	}
	
	.gallery { 
		.layer {
			opacity: 1;
		}
	}

	.numbers {
		[class*='col-offset-2'] {
			margin-left: 0%;
		}
	}

	.footer { 
		[class*='col-4'] {
			float: none;
			width: 100%;
		}
		h3:after {
	  		width: 40%;
		}
	}
}
@media (max-width: 768px) {

	header {
		nav {
			ul {
				float: none;
				text-align: center;
				li {
					display: block;
				}
			}
			label {
				display: inline-block;
			}
		}
	}

	#menu-button:not(:checked) ~ ul {
		display: none;
	}
	#menu-button:checked ~ ul {
		display: block;
	}

	.carousel {
		.slogan {
			display:none;
		}
	}
	
	.benefits [class*='col'],  .staff [class*='col'], .promo [class*='col'] {
		float: none;
		width: 100%;
	}
	.staff { 
		.gallery-item {
			width: 26vw;
			height: 26vw;
		}
	}
	.promo {
		.row {
			.promo-picture {
				img {
					position: static;
					margin-top: 50px;
				}
			}
			.promo-text {
				p {
					column-count: 1;
				}
			}
		}
	}
	

	.gallery {
		.layer {
			opacity: 0;
		}
	}

	.col-s-0 {width: 0;}
 	.col-s-1 {width: 8.33%;}
	.col-s-2 {width: 16.66%;}
	.col-s-3 {width: 25%;}
	.col-s-4 {width: 33.33%;}
	.col-s-5 {width: 41.66%;}
	.col-s-6 {width: 50%;}
	.col-s-7 {width: 58.33%;}
	.col-s-8 {width: 66.66%;}
	.col-s-9 {width: 75%;}
	.col-s-10 {width: 83.33%;}
	.col-s-11 {width: 91.66%;}
	.col-s-12 {width: 100%;}
}
@media (min-width: 1500px) {
	.staff {
		.container {
			max-width: none;
		}
	}
}
